@import "tailwindcss";

@theme {
    --font-snpro: snpro;
    --animate-spin: spin 1s cubic-bezier(0.09, 0.35, 0.43, 0.54) infinite;
}

@font-face {
    font-family: snpro;
    src: url("/SNPro.ttf");
}

@keyframes spin {
    to {
        rotate: 360deg;
    }
}

.tiptap-content {

    @apply bg-neutral-800 text-neutral-200;

    h1 {
        @apply text-[2rem] font-bold my-2;
    }

    h2 {
        @apply text-[1.5rem] font-semibold my-2;
    }

    h3 {
        @apply text-[1.2rem] font-medium my-1;
    }

    p {
        @apply text-base leading-[1.8rem] text-wrap;
    }

    ul,
    ol {
        @apply mb-4 ml-4;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    li p {
        @apply inline;
    }

    table {
        @apply border-collapse table-fixed w-full mb-4 overflow-hidden;

        td,
        th {
            @apply border border-neutral-300 px-4 py-2 relative text-left align-top;

            &.selectedCell:after {
                @apply absolute inset-0 bg-blue-500/30 content-[''] pointer-events-none z-10;
            }
        }

        th {
            @apply bg-neutral-700 text-center;
        }
    }

    img {
        @apply w-full h-auto rounded-lg my-4;

        &.ProseMirror-selectednode {
            @apply outline-3 outline-blue-500 outline-offset-2;
        }
    }

    hr {
        @apply my-3 border-t-2 border-gray-300;
    }
}